.product-box {
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    height: 275px;
    margin: 10px;
    float: left;
}
.product-image {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}
.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}
.product-price {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
}
.product-desc {
    font-size: 0.8em;
    margin-top: 10px;
}
.strike {
text-decoration: line-through;
}
.footer {

position: fixed;
bottom:0px;
}